// Grayscale
$black: #2d2d2d;
$white: #f6f6f4;

// Colors
$red: #f53d4c;
$green: #4ce59f;
$blue: #474AEB;

//Typography
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
$headings: 'Cantata One';
