#contactsPage {
    // margin-top: 7.5vh; //15vh;
    line-height: 1.4;
    padding: 0 40px;
    height: 100%;


    .contacts__mainContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(1, calc(calc(100% - 7.5vh)/4)); //1fr 1fr 1fr 1fr;
        column-gap: 20px;
        margin-top: -5vh; //2vh;
        padding-bottom: 2vh;
        text-align: center;

        // NOTE --> GENERAL
        //      --> PROFILE PIC INSIDE
        .deca__ines,
        .circle__joao,
        .triangle__ze {
            height: 50%;
            aspect-ratio: 1;
            left: 50%;
            background-size: cover;
            //Center horizontal in Parent Div
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 13%;

            //Translate from top of Div
            transform: translateY(20%);
        }

        // }


        .deca__ines__container,
        .circle__joao__container,
        .triangle__ze__container {
            width: 100%;
            height: auto;
            aspect-ratio: 1;
            max-width: 40vh;
        }

        .deca__ines__container {
            clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
            background-color: $green;
            // width: 33.3%;
            min-width: 219px; //max-content;
            aspect-ratio: 1/1;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            grid-column: 2;
            grid-row: 1;

        }

        .circle__joao__container {
            clip-path: circle(48% at 50% 50%);
            background-color: $blue;
            // NOTE --> DESKTOP ABSOLUTE POSITION
            margin-left: auto;
            margin-right: 0;
            // width: 33.3%;
            min-width: 263px;
            margin-top: 50px;
            grid-column: 1;
            grid-row: 2;
        }

        .triangle__ze__container {
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            background-color: $red;
            min-width: fit-content;
            // left: 50%;
            // width: 33.3%;
            min-width: 263px;
            justify-self: start;
            margin: 0;
            grid-column: 3;
            grid-row: 2;
        }

        // NOTE --> GENERAL
        .figure__email {
            overflow: auto;
            padding: 10px 50px 20px 50px;
            line-break: anywhere;
            margin: 0 auto;
        }

        .figure__email,
        .figure__name {
            font-size: 22px;
        }
    }

    .contacts__text {
        text-align: center;
        grid-column: 2;
        grid-row: 4;
        
        .contacts__subtitle {
            font-weight: 500;
        }
    }
}

@media screen and (max-device-width:540px),
screen and (max-width:540px) {
    #contactsPage {
        .contacts__mainContent {
            margin-top: 10vh;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 10vh 1fr 1fr 1fr;
            // margin-right: 40px;

            .contacts__text {
                position: relative;
                grid-column: 2;
                grid-row: 1;
            }

            .figure__email,
            .figure__name {
                font-size: 16px;
            }

            .deca__ines__container {
                width: 100%;
                position: relative;
                grid-column: 1 / span 1;
                grid-row: 2;
                justify-self: start;
                margin: 20px 0;
            }

            .triangle__ze__container {
                position: relative;
                grid-column: 2 /span 1;
                grid-row: 3;
                justify-self: end;
                margin: 10px 0 20px 0;
            }

            .circle__joao__container {
                position: relative;
                grid-column: 1;
                grid-row: 4;
                margin: 20px 0;
                justify-self: start;
            }
        }
    }
}