.workspage {
    padding: 0 40px;

    .masonry {
        margin-top: 40px;
        columns: 4;
        column-gap: 16px;

        @media (max-width: 1200px) {
            columns: 3;
        }

        @media (max-width: 992px) {
            columns: 2;
        }

        @media (max-width: 600px) {
            columns: 1;
        }

        .grid {
            display: inline-block;
            margin-bottom: 16px;
            position: relative;
            height: max-content;

            &:hover {
                div.coloredDiv {
                    opacity: 0;
                    transition: all .6s cubic-bezier(0.16, 1, 0.3, 1);
                }
            }


            // &::before {
            //     border-radius: 5px;
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     right: 0;
            //     bottom: 0;
            //     left: 0;
            //     height: 100%;
            //     // background-color: rgba(0, 0, 0, .6);
            //     // background-color: rgba(20, 20, 20, 0.2)
            // }

            .grid__body {
                position: relative;
            }

            // &:hover {
            // box-shadow: 3px 3px 5px 6px rgb(220, 220, 220);
            // }

            .image__container {
                margin-top: 35px;
                margin-bottom: 30px;
                position: relative;
                //}, img{
                //     width: 80%;
                //     margin-top: 35px;
                //     margin-bottom: 30px;
                //     margin-left: auto;
                //     margin-right: auto;
                //     display: table-cell;
                //     aspect-ratio: 1;
                //     border-radius: 5px;
                //     background-color: rebeccapurple;

                img {
                    width:100%;
                    margin-left: auto;
                    margin-right: auto;
                    display: table-cell;
                    /*aspect-ratio: 1;*/
                    border-radius: 5px;
                    pointer-events: none;
                }

                .coloredDiv {
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    opacity: 0.9;
                }
            }

            &__title {
                font-size: 28px;
                font-weight: bold;
                margin: 0px 0px 10px 0px;
            }

            &__author {
                font-size: 14px;
                font-weight: 300;
            }

            &__link {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }

            &__body {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                padding: 10px 20px 20px 20px;
                color: #2D2D2D; //#fff;
                display: flex;
                flex-direction: column
            }
        }
    }

    .mt-auto {
        margin-top: auto;
        height: auto;
        padding: auto;
        width: max-content;
        background-color: rgba(255, 255, 255, 1);
        color: #333;
        border-radius: 5px;
        padding: 15px 15px;
        margin: 15px;

    }

    // coloredDiv DISAPPEARS on hover
    .disappears {
        animation: formGoesTransparent .6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
        animation-iteration-count: 1;
    }

    @keyframes formGoesTransparent {

        0% {
            background-color: initial;
        }

        50% {
            background-color: revert;
        }

        100% {
            background-color: revert;
        }
    }
}