// Grayscale
$black: #2d2d2d;
$white: #f6f6f4;

// Colors
$red: #f53d4c;
$green: #4ce59f;
$blue: #474AEB;

//Typography
@import url('https://fonts.googleapis.com/css?family=Cantata+One');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$headings: 'Cantata One';
$body: 'Noto Sans';

.text {
    &--underline {
        text-decoration: underline solid black 2px;
        text-underline-offset: 20px;
    }

    &--red {
        color: $red;
    }

    &--green {
        color: $green;
    }

    &--blue {
        color: $blue;
    }

    &--italic {
        font-style: italic;
    }

    &--thin {
        font-weight: 100;
    }

    &--extralight {
        font-weight: 200;
    }

    &--light {
        font-weight: 300;
    }

    &--regular {
        font-weight: 400;
    }

    &--mediumt {
        font-weight: 500;
    }

    &--semibold {
        font-weight: 600;
    }

    &--bold {
        font-weight: 700;
    }

    &--extrabold {
        font-weight: 800;
    }

    &--black {
        font-weight: 900;
    }

    &--paragraph,
    &--headings {
        font-size: 42px; //5vh; //42px;
    }

    &--paragraph--small {
        font-size: 22px;
    }

    @media screen and (max-width:600px) {

        //600 900
        &--paragraph,  &--paragraph--small,
        p {
            // font-size: 2.15vh; //42px;
            font-size: 16px;
        }

        &--headings,
        h1 {
            // font-size: 2.99;
            // font-size: calc((100vh - 2.99rem) / 29);
            // font-size: 1.59rem;
            font-size: 32px;
        }
    }
}