@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $headings;
    background: $white;
}

@import './components/loading';
@import './components/ErrorPage404';
@import './components/homepage';
@import './components/header';
@import './components/projectsFilter';
@import './components/workpage';
@import './components/workspage';
@import './components/AboutPage'